/* TodoList.css */
.todo-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #94c2e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .todo-container h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .inputField {
    /* ... rest of the styles ... */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s ease;
    padding: 12px 5px;
    background: rgb(157, 206, 197);
  }
  
  .inputField:focus {
    border-color: #4CAF50;
  }
  
  .todo-form button {
    background-color: #32bebe;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .todo-form button:hover {
    background-color: #45a049;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #35819b;
    transition: background-color 0.2s ease;
  }
  
  .todo-item.completed {
    background-color: #d1d89b;
    text-decoration: line-through;
    
  }
 
  
  .todo-item span {
    flex: 1;
    font-size: 1.1rem;
  }
  
  .submitBtn {
    background-color: #35819b;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 2px;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .todo-item button:hover {
    background-color: #d32f2f;
    transition: 0.5s;

  }
  .color-green{
    background:green;
    margin-right: 5px;
    border: none;
  }
  .color-green:hover{
    background-color: #45a049 !important;
    transition: 0.5s;
  }